*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  padding: 6px 0px 6px 0px;
}

.button:focus {
  outline: 0;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 2px;
}

.content {
  margin: auto;
  width: 1140px;
  display: flex;
}

.result {
  margin-top: 78px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.search-form {
  width: 711px;
  display: flex;
  position: relative;
  gap: 40px;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 5px;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  color: white;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background: transparent;
  border: none;
  outline-width: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  appearance: none;
}

.search-form__textfield:focus {
  outline: 0;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.70);
}

.search-form__textfield:active {
  border: 1px solid white;
}

.search-form__checkbox-list {
  display: flex;
  margin-left: 4px;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 1px;
  vertical-align: middle;
  outline: 1px solid white;
  outline-offset: 2px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background-color: white;
}

.search-form__label {
  display: inline;
  cursor: pointer;
  width: fit-content;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 2px;
}

.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
}

.search-form__submit-button {
  padding: 6px 73.5px 6px 73.5px;
  align-self: flex-end;
}

.content__details {
  margin-left: 30px;
  width: 100%;
  height: 100%;
}

.title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  font-family: Oswald, Arial, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__list {
  position: relative;
  height: 298px;
  margin-top: 26px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  text-decoration: none;
  display: block;
}

.content__card-link:hover {
  color: white;
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  width: 398px;
  display: flex;
  flex: 1fr, 1fr;
  justify-content: space-between;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
  outline-offset: -1px;
}

.content__video-card-thumbnail {
  display: inline;
  width: 194px;
  height: 103px;
  margin: 2px 0px 2px 0px;
  object-fit: cover;
}

.content__video-card-description-container {
  display: inline;
  color: #fff;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald, Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  padding-bottom: 6px;
}

.content__video-card-description {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.more-button {
  width: 100%;
}